.product-list {
	display: flex;
	flex-direction: column;
	padding-left: 0;
	margin-bottom: 0;
	list-style-type: none;
	padding-bottom: 50px;
	margin-top: 20px;

	h3 {
		font-size: 1.75rem;
		text-transform: capitalize;
		text-align: center;
	}
}
